# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [2]:
%help

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 1.0.4

# Available Magic Commands

## Sessions Magic

----
    %help                             Return a list of descriptions and input types for all magic commands.
    %profile            String        Specify a profile in your aws configuration to use as the credentials provider.
    %region             String        Specify the AWS region in which to initialize a session.
                                      Default from ~/.aws/config on Linux or macOS,
                                      or C:\Users\ USERNAME \.aws\config" on Windows.
    %idle_timeout       Int           The number of minutes of inactivity after which a session will timeout.
                                      Default: 2880 minutes (48 hours).
    %session_id_prefix  String        Define a String that will precede all session IDs in the format
                                      [session_id_prefix]-[session_id]. If a session ID is not provided,
                                      a random UUID will be generated.
    %status                           Returns the status of the current Glue session including its duration,
                                      configuration and executing user / role.
    %session_id                       Returns the session ID for the running session.
    %list_sessions                    Lists all currently running sessions by ID.
    %stop_session                     Stops the current session.
    %glue_version       String        The version of Glue to be used by this session.
                                      Currently, the only valid options are 2.0, 3.0 and 4.0.
                                      Default: 2.0.
----

## Selecting Session Types

----
    %streaming          String        Sets the session type to Glue Streaming.
    %etl                String        Sets the session type to Glue ETL.
    %glue_ray           String        Sets the session type to Glue Ray.
    %session_type       String        Specify a session_type to be used. Supported values: streaming, etl and glue_ray.
----

## Glue Config Magic
*(common across all session types)*

----

    %%configure         Dictionary    A json-formatted dictionary consisting of all configuration parameters for
                                      a session. Each parameter can be specified here or through individual magics.
    %iam_role           String        Specify an IAM role ARN to execute your session with.
                                      Default from ~/.aws/config on Linux or macOS,
                                      or C:\Users\%USERNAME%\.aws\config` on Windows.
    %number_of_workers  int           The number of workers of a defined worker_type that are allocated
                                      when a session runs.
                                      Default: 5.
    %additional_python_modules  List  Comma separated list of additional Python modules to include in your cluster
                                      (can be from Pypi or S3).
    %%tags        Dictionary          Specify a json-formatted dictionary consisting of tags to use in the session.

    %%assume_role Dictionary, String  Specify a json-formatted dictionary or an IAM role ARN string to create a session
                                      for cross account access.
                                      E.g. {valid arn}
                                      %%assume_role
                                      'arn:aws:iam::XXXXXXXXXXXX:role/AWSGlueServiceRole'
                                      E.g. {credentials}
                                      %%assume_role
                                      {
                                            "aws_access_key_id" : "XXXXXXXXXXXX",
                                            "aws_secret_access_key" : "XXXXXXXXXXXX",
                                            "aws_session_token" : "XXXXXXXXXXXX"
                                       }
----


## Magic for Spark Sessions (ETL & Streaming)

----
    %worker_type        String        Set the type of instances the session will use as workers.
    %connections        List          Specify a comma separated list of connections to use in the session.
    %extra_py_files     List          Comma separated list of additional Python files From S3.
    %extra_jars         List          Comma separated list of additional Jars to include in the cluster.
    %spark_conf         String        Specify custom spark configurations for your session.
                                      E.g. %spark_conf spark.serializer=org.apache.spark.serializer.KryoSerializer
----

## Magic for Ray Session

----
    %min_workers        Int           The minimum number of workers that are allocated to a Ray session.
                                      Default: 1.
    %object_memory_head Int           The percentage of free memory on the instance head node after a warm start.
                                      Minimum: 0. Maximum: 100.
    %object_memory_worker Int         The percentage of free memory on the instance worker nodes after a warm start.
                                      Minimum: 0. Maximum: 100.
----

## Action Magic

----

    %%sql               String        Run SQL code. All lines after the initial %%sql magic will be passed
                                      as part of the SQL code.
    %matplot      Matplotlib figure   Visualize your data using the matplotlib library.
                                      E.g.
                                      import matplotlib.pyplot as plt
                                      # Set X-axis and Y-axis values
                                      x = [5, 2, 8, 4, 9]
                                      y = [10, 4, 8, 5, 2]
                                      # Create a bar chart
                                      plt.bar(x, y)
                                      # Show the plot
                                      %matplot plt
    %plotly            Plotly figure  Visualize your data using the plotly library.
                                      E.g.
                                      import plotly.express as px
                                      #Create a graphical figure
                                      fig = px.line(x=["a","b","c"], y=[1,3,2], title="sample figure")
                                      #Show the figure
                                      %plotly fig



----

####  Run this cell to set up and start your interactive session.

In [1]:
%idle_timeout 2880
%glue_version 4.0
%worker_type G.1X
%number_of_workers 5

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 1.0.4
Current idle_timeout is None minutes.
idle_timeout has been set to 2880 minutes.
Setting Glue version to: 4.0
Previous worker type: None
Setting new worker type to: G.1X
Previous number of workers: None
Setting new number of workers to: 5
Trying to create a Glue session for the kernel.
Session Type: glueetl
Worker Type: G.1X
Number of Workers: 5
Session ID: 3e987287-fc08-4775-bb5d-1e5e82f35b2a
Applying the following default arguments:
--glue_kernel_version 1.0.4
--enable-glue-datacatalog true
Waiting for session 3e987287-fc08-4775-bb5d-1e5e82f35b2a to get into ready status...
Session 3e987287-fc08-4775-bb5d-1e5e82f35b2a has been created.

#### Example: Create a DynamicFrame from a table in the AWS Glue Data Catalog and display its schema

In [2]:
dyf = glueContext.create_dynamic_frame.from_catalog(database='db_sales_raw_catalog', table_name='sales_table_raw')
dyf.printSchema()

root
|-- name: string
|-- address: string
|-- city: string
|-- country: string
|-- region: string
|-- productname: string
|-- productcategory: string
|-- productcategorydescription: string
|-- productunitprice: string
|-- quantityorderded: string
|-- orderdate: string

#### Example: Convert the DynamicFrame to a Spark DataFrame and display a sample of the data

In [3]:
df = dyf.toDF()
df.show(5)

+--------------------+--------------------+--------------+-------+--------------+--------------------+--------------------+--------------------------+--------------------+--------------------+--------------------+
|                name|             address|          city|country|        region|         productname|     productcategory|productcategorydescription|    productunitprice|    quantityorderded|           orderdate|
+--------------------+--------------------+--------------+-------+--------------+--------------------+--------------------+--------------------------+--------------------+--------------------+--------------------+
|Zbyszek Piestrzen...|     ul. Filtrowa 68|      Warszawa| Poland|Eastern Europe|Gorgonzola Telino...|Dairy Products;Se...|      Cheeses;Seaweed a...|12.5;13.25;18;19;...|30;15;6;10;15;10;...|20121205;20121205...|
|    Jonas Bergulfsen|Erling Skakkes ga...|       Stavern| Norway|   Scandinavia|Guarana Fantastic...|Beverages;Produce...|      Soft drinks, coff...|4.5;45.6;55;21.5;...|15;6;12;15;8;5;8;...|20121218;20121218...|
|    Bernardo Batista|Rua da Panificado...|Rio de Janeiro| Brazil| South America|Sir Rodney's Scon...|Confections;Bever...|      Desserts, candies...|10;18;6;19.45;53;...|20;20;20;24;2;8;1...|20120719;20120719...|
|      Karl Jablonski|305 - 14th Ave. S...|       Seattle|    USA| North America|Geitost;Mozzarell...|Dairy Products;Da...|      Cheeses;Cheeses;S...|2.5;34.8;22;40;19...|60;20;35;70;40;35...|20120731;20120731...|
|    Pirkko Koskitalo|         Torikatu 38|          Oulu|Finland|   Scandinavia|Queso Manchego La...|Dairy Products;Se...|      Cheeses;Seaweed a...|38;19;46;21.5;23....|12;30;25;30;10;10...|20120726;20120801...|
+--------------------+--------------------+--------------+-------+--------------+--------------------+--------------------+--------------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

/opt/amazon/spark/python/lib/pyspark.zip/pyspark/sql/dataframe.py:127: UserWarning: DataFrame constructor is internal. Do not directly use it.

#### Create Dataframes for all the tables in the structure same as normalized tables

- Region
    - [RegionID] Integer not null primary key
    - [Region] Text not null
- Country
  - [CountryID] integer not null Primary key
  - [Country] Text not null
  - [RegionID] integer not null foreign key to Region table
- Customer
  - [CustomerID] integer not null Primary Key
  - [FirstName] Text not null
  - [LastName] Text not null
  - [Address] Text not null
  - [City] Text not null
  - [CountryID] integer not null foreign key to Country table 
- ProductCateogry
  - [ProductCategoryID] integer not null Primary Key
  - [ProductCategory] Text not null
  - [ProductCategoryDescription] Text not null
- Product
  - [ProductID] integer not null Primary key
  - [ProductName] Text not null
  - [ProductUnitPrice] Real not null
  - [ProductCategoryID] integer not null foreign key to ProductCateogry table
- OrderDetail
  - [OrderID] integer not null Primary Key
  - [CustomerID] integer not null foreign key to Customer table
  - [ProductID] integer not null foreign key to Product table
  - [OrderDate] integer not null 
  - [QuantityOrdered] integer not null

In [4]:
df=df.dropDuplicates()
rdd_df=df.rdd

In [5]:
region_rdd = (
        rdd_df.map(lambda line: line[4])  # Select the 3rd column (indexing starts from 0)
           .distinct()                             # Deduplicate the regions
           .sortBy(lambda x: x)                    # Order the regions
           .zipWithIndex()                         # Add index starting from 0
           .map(lambda x: (int(x[1] + 1), x[0]))        # Increment index by 1 and create tuples (RegionID, Region)
    )
region_df= region_rdd.toDF(["RegionID", "Region"])

In [6]:
region_df.show()

+--------+---------------+
|RegionID|         Region|
+--------+---------------+
|       1|  British Isles|
|       2|Central America|
|       3| Eastern Europe|
|       4|  North America|
|       5|Northern Europe|
|       6|    Scandinavia|
|       7|  South America|
|       8|Southern Europe|
|       9| Western Europe|
+--------+---------------+

In [5]:
# Region Dataframe
# from pyspark.sql.types import *
# from pyspark.sql.functions import monotonically_increasing_id

# schema = StructType([
#     StructField("RegionID", IntegerType(), True),
#     StructField("Region", StringType(), True)
# ])
# region_df=spark.createDataFrame([], schema)
# region_df = (
#     df.select("Region")              # Select the 'Region' column
#       .distinct()                    # Deduplicate the rows
#       .orderBy("Region")             # Order the DataFrame by 'Region'
#       .withColumn("RegionID", monotonically_increasing_id() + 1)  # Add 'RegionID' column starting from 1
#       .select("RegionID", "Region")  # Select only 'RegionID' and 'Region' columns
# )
# region_df.show(30)

In [7]:
# Region to RegionID Dict
region_dict = region_df.select('Region', 'RegionID').rdd.collectAsMap()
region_dict

{'British Isles': 1, 'Central America': 2, 'Eastern Europe': 3, 'North America': 4, 'Northern Europe': 5, 'Scandinavia': 6, 'South America': 7, 'Southern Europe': 8, 'Western Europe': 9}

In [8]:
country_rdd = (
        rdd_df.map(lambda line:(line[3],line[4]))
           .distinct()                            
           .sortBy(lambda x: x[0])
           .zipWithIndex()                        
           .map(lambda x: (int(x[1]+1), x[0][0],int(region_dict.get(x[0][1], None))))
)
country_df= country_rdd.toDF(["CountryID", "Country","RegionID"])

In [9]:
country_df.show(25)

+---------+-----------+--------+
|CountryID|    Country|RegionID|
+---------+-----------+--------+
|        1|  Argentina|       7|
|        2|    Austria|       9|
|        3|    Belgium|       9|
|        4|     Brazil|       7|
|        5|     Canada|       4|
|        6|    Denmark|       5|
|        7|    Finland|       6|
|        8|     France|       9|
|        9|    Germany|       9|
|       10|    Ireland|       1|
|       11|      Italy|       8|
|       12|     Mexico|       2|
|       13|     Norway|       6|
|       14|     Poland|       3|
|       15|   Portugal|       8|
|       16|      Spain|       8|
|       17|     Sweden|       5|
|       18|Switzerland|       9|
|       19|         UK|       1|
|       20|        USA|       4|
|       21|  Venezuela|       7|
+---------+-----------+--------+

In [6]:
# # Country Dataframe
# from pyspark.sql.functions import col, create_map, lit
# from itertools import chain
# mapping_expr = create_map([lit(x) for x in chain(*region_dict.items())]) 

# schema2 = StructType([
#     StructField("CountryID", IntegerType(), True),
#     StructField("Country", StringType(), True),
#     StructField("RegionID", IntegerType(), True)
# ])
# country_df=spark.createDataFrame([], schema2)
# country_df = (
#     df.select("Country", "Region")
#       .distinct()
#       .orderBy("Country")
#       .withColumn("CountryID", monotonically_increasing_id() + 1)
#       .withColumn("RegionID", mapping_expr[col("Region")])
#       .select("CountryID", "Country","RegionID")
# )
# country_df.show(25)

In [10]:
# Country Dictionary
country_dict = country_df.select('Country', 'CountryID').rdd.collectAsMap()
country_dict

{'Argentina': 1, 'Austria': 2, 'Belgium': 3, 'Brazil': 4, 'Canada': 5, 'Denmark': 6, 'Finland': 7, 'France': 8, 'Germany': 9, 'Ireland': 10, 'Italy': 11, 'Mexico': 12, 'Norway': 13, 'Poland': 14, 'Portugal': 15, 'Spain': 16, 'Sweden': 17, 'Switzerland': 18, 'UK': 19, 'USA': 20, 'Venezuela': 21}

In [11]:
# Customer Dataframe
customer_rdd=(
rdd_df.map(lambda line: (tuple(line[0].split(' ',1)),line[1],line[2],line[3]))
    .distinct()
    .sortBy(lambda x: (x[0][0],x[0][1]))
    .zipWithIndex()
    .map(lambda x: (int(x[1]+1),x[0][0][0],x[0][0][1],x[0][1],x[0][2],int(country_dict.get(x[0][3],None))))
)
customer_df= customer_rdd.toDF(["CustomerID","FirstName","LastName", "Address","City","CountryID"])

In [12]:
customer_df.show(100)

+----------+----------+---------------+--------------------+---------------+---------+
|CustomerID| FirstName|       LastName|             Address|           City|CountryID|
+----------+----------+---------------+--------------------+---------------+---------+
|         1| Alejandra|         Camino|         Gran Via, 1|         Madrid|       16|
|         2| Alexander|          Feuer|         Heerstr. 22|        Leipzig|        9|
|         3|       Ana|       Trujillo|Avda. de la Const...|    Mexico D.F.|       12|
|         4|   Anabela|      Domingues|Av. Ines de Castr...|      Sao Paulo|        4|
|         5|     Andre|        Fonseca|     Av. Brasil, 442|       Campinas|        4|
|         6|       Ann|          Devon|      35 King George|         London|       19|
|         7|   Annette|         Roulet|1 rue Alsace-Lorr...|       Toulouse|        8|
|         8|   Antonio|         Moreno|     Mataderos  2312|    Mexico D.F.|       12|
|         9|      Aria|           Cruz|        Rua Oros, 92|      Sao Paulo|        4|
|        10|       Art| Braunschweiger|        P.O. Box 555|         Lander|       20|
|        11|  Bernardo|        Batista|Rua da Panificado...| Rio de Janeiro|        4|
|        12|    Carine|        Schmitt|      54, rue Royale|         Nantes|        8|
|        13|    Carlos|       Gonzalez|Carrera 52 con Av...|   Barquisimeto|       21|
|        14|    Carlos|      Hernandez|Carrera 22 con Av...|  San Cristobal|       21|
|        15| Catherine|          Dewey| Rue Joseph-Bens 532|      Bruxelles|        3|
|        16| Christina|       Berglund|     Berguvsvagen  8|          Lulea|       17|
|        17|    Daniel|         Tonini|67, avenue de l'E...|     Versailles|        8|
|        18|     Diego|           Roel|  C/ Moralzarzal, 86|         Madrid|       16|
|        19| Dominique|        Perrier|   25, rue Lauriston|          Paris|        8|
|        20|   Eduardo|       Saavedra|Rambla de Catalun...|      Barcelona|       16|
|        21| Elizabeth|          Brown|Berkeley Gardens ...|         London|       19|
|        22| Elizabeth|        Lincoln|  23 Tsawassen Blvd.|      Tsawassen|        5|
|        23|    Felipe|      Izquierdo|Ave. 5 de Mayo Po...|I. de Margarita|       21|
|        24|      Fran|         Wilson|  89 Chiaroscuro Rd.|       Portland|       20|
|        25| Francisco|          Chang|Sierras de Granad...|    Mexico D.F.|       12|
|        26|Frederique|        Citeaux|    24, place Kleber|     Strasbourg|        8|
|        27|     Georg|          Pipps|         Geislweg 14|       Salzburg|        2|
|        28|  Giovanni|        Rovelli|Via Ludovico il M...|        Bergamo|       11|
|        29| Guillermo|      Fernandez|Calle Dr. Jorge C...|    Mexico D.F.|       12|
|        30|     Hanna|           Moos|      Forsterstr. 57|       Mannheim|        9|
|        31|      Hari|          Kumar|     90 Wadhurst Rd.|         London|       19|
|        32|     Helen|        Bennett|Garden House Crow...|          Cowes|       19|
|        33| Helvetius|           Nagy|   722 DaVinci Blvd.|       Kirkland|       20|
|        34| Henriette|      Pfalzheim|  Mehrheimerstr. 369|           Koln|        9|
|        35|     Horst|          Kloss|     Taucherstrae 10|      Cunewalde|        9|
|        36|    Howard|         Snyder|    2732 Baker Blvd.|         Eugene|       20|
|        37|    Isabel|      de Castro|Estrada da saude ...|         Lisboa|       15|
|        38|     Jaime|         Yorres| 87 Polk St. Suite 5|  San Francisco|       20|
|        39|    Janete|        Limeira| Av. Copacabana, 267| Rio de Janeiro|        4|
|        40|    Janine|        Labrune|67, rue des Cinqu...|         Nantes|        8|
|        41|      Jean|      Fresniere|  43 rue St. Laurent|       Montreal|        5|
|        42|      John|          Steel|12 Orchestra Terrace|    Walla Walla|       20|
|        43|     Jonas|     Bergulfsen|Erling Skakkes ga...|        Stavern|       13|
|        44|      Jose|      Pavarotti|     187 Suffolk Ln.|          Boise|       20|
|        45|      Jose|   Pedro Freyre|       C/ Romero, 33|        Sevilla|       16|
|        46|     Jytte|       Petersen|         Vinbltet 34|      Kobenhavn|        6|
|        47|     Karin|        Josephs|       Luisenstr. 48|        Munster|        9|
|        48|      Karl|      Jablonski|305 - 14th Ave. S...|        Seattle|       20|
|        49|  Laurence|        Lebihan|12, rue des Bouchers|      Marseille|        8|
|        50|      Lino|      Rodriguez|Jardim das rosas ...|         Lisboa|       15|
|        51|       Liu|           Wong| 55 Grizzly Peak Rd.|          Butte|       20|
|        52|       Liz|          Nixon|89 Jefferson Way ...|       Portland|       20|
|        53|     Lucia|       Carvalho|Alameda dos Canar...|      Sao Paulo|        4|
|        54|    Manuel|        Pereira|5 Ave. Los Palos ...|        Caracas|       21|
|        55|     Maria|         Anders|       Obere Str. 57|         Berlin|        9|
|        56|     Maria|        Larsson|        Akergatan 24|         Bracke|       17|
|        57|     Marie|       Bertrand|265, boulevard Ch...|          Paris|        8|
|        58|     Mario|         Pontes|     Rua do Paco, 67| Rio de Janeiro|        4|
|        59|    Martin|         Sommer|      C/ Araquil, 67|         Madrid|       16|
|        60|   Martine|          Rance|184, chaussee de ...|          Lille|        8|
|        61|      Mary|        Saveley|  2, rue du Commerce|           Lyon|        8|
|        62|     Matti|      Karttunen|       Keskuskatu 45|       Helsinki|        7|
|        63|  Maurizio|         Moroni|Strada Provincial...|  Reggio Emilia|       11|
|        64|   Michael|           Holz|   Grenzacherweg 237|         Geneve|       18|
|        65|    Miguel|  Angel Paolino|    Avda. Azteca 123|    Mexico D.F.|       12|
|        66|     Palle|          Ibsen|       Smagsloget 45|          Arhus|        6|
|        67|     Paolo|        Accorti| Via Monte Bianco 34|         Torino|       11|
|        68|   Pascale|       Cartrain|Boulevard Tirou, 255|      Charleroi|        3|
|        69|  Patricia|        McKenna|    8 Johnstown Road|           Cork|       10|
|        70|  Patricio|        Simpson|         Cerrito 333|   Buenos Aires|        1|
|        71|      Paul|        Henriot|  59 rue de l'Abbaye|          Reims|        8|
|        72|     Paula|        Parente|  Rua do Mercado, 12|        Resende|        4|
|        73|     Paula|         Wilson|     2817 Milton Dr.|    Albuquerque|       20|
|        74|     Pedro|         Afonso|Av. dos Lusiadas, 23|      Sao Paulo|        4|
|        75|     Peter|        Franken|   Berliner Platz 43|        Munchen|        9|
|        76|    Philip|         Cramer|       Maubelstr. 90|    Brandenburg|        9|
|        77|    Pirkko|      Koskitalo|         Torikatu 38|           Oulu|        7|
|        78|    Renate|        Messner|        Magazinweg 7| Frankfurt a.M.|        9|
|        79|      Rene|       Phillips|     2743 Bering St.|      Anchorage|       20|
|        80|      Rita|         Muller|   Adenauerallee 900|      Stuttgart|        9|
|        81|    Roland|         Mendel|        Kirchgasse 6|           Graz|        2|
|        82|    Sergio|      Gutierrez|Av. del Libertado...|   Buenos Aires|        1|
|        83|     Simon|       Crowther|South House 300 Q...|         London|       19|
|        84|      Sven|        Ottlieb|        Walserweg 21|         Aachen|        9|
|        85|    Thomas|          Hardy|     120 Hanover Sq.|         London|       19|
|        86|  Victoria|       Ashworth|   Fauntleroy Circus|         London|       19|
|        87|      Yang|           Wang|        Hauptstr. 29|           Bern|       18|
|        88|     Yoshi|        Latimer|City Center Plaza...|          Elgin|       20|
|        89|     Yoshi|      Tannamuri|        1900 Oak St.|      Vancouver|        5|
|        90|    Yvonne|        Moncada|Ing. Gustavo Monc...|   Buenos Aires|        1|
|        91|   Zbyszek|Piestrzeniewicz|     ul. Filtrowa 68|       Warszawa|       14|
+----------+----------+---------------+--------------------+---------------+---------+

In [13]:
# # Customer Dataframe
# schema3 = StructType([
#     StructField("CustomerID", IntegerType(), True),
#     StructField("FirstName", StringType(), True),
#     StructField("LastName", StringType(), True),
#     StructField("Address", StringType(), True),
#     StructField("City", StringType(), True),
#     StructField("CountryID", IntegerType(), True)
# ])
# mapping_expr = create_map([lit(x) for x in chain(*country_dict.items())]) 
# customer_df=spark.createDataFrame([], schema3)
# # Splitting Name column into FirstName and LastName
# from pyspark.sql.functions import split

# name_split = split(df['Name'], ' ',2)
# df = df.withColumn('FirstName', name_split.getItem(0))
# df = df.withColumn('LastName', name_split.getItem(1))
# customer_df = (
#       df.select('FirstName','LastName','Country','Address','City')
#       .distinct()
#       .orderBy('FirstName','LastName')
#     .withColumn("CustomerID", monotonically_increasing_id() + 1)
#     .withColumn('CountryID',mapping_expr[col("Country")])
#     .select("CustomerID","FirstName","LastName","Address","City","CountryID")
      
# )
# customer_df.show(100)

In [14]:
customer_dict = customer_df.rdd.map(lambda row: (row['FirstName'] + ' ' + row['LastName'], row['CustomerID'])).collectAsMap()
customer_dict

{'Alejandra Camino': 1, 'Alexander Feuer': 2, 'Ana Trujillo': 3, 'Anabela Domingues': 4, 'Andre Fonseca': 5, 'Ann Devon': 6, 'Annette Roulet': 7, 'Antonio Moreno': 8, 'Aria Cruz': 9, 'Art Braunschweiger': 10, 'Bernardo Batista': 11, 'Carine Schmitt': 12, 'Carlos Gonzalez': 13, 'Carlos Hernandez': 14, 'Catherine Dewey': 15, 'Christina Berglund': 16, 'Daniel Tonini': 17, 'Diego Roel': 18, 'Dominique Perrier': 19, 'Eduardo Saavedra': 20, 'Elizabeth Brown': 21, 'Elizabeth Lincoln': 22, 'Felipe Izquierdo': 23, 'Fran Wilson': 24, 'Francisco Chang': 25, 'Frederique Citeaux': 26, 'Georg Pipps': 27, 'Giovanni Rovelli': 28, 'Guillermo Fernandez': 29, 'Hanna Moos': 30, 'Hari Kumar': 31, 'Helen Bennett': 32, 'Helvetius Nagy': 33, 'Henriette Pfalzheim': 34, 'Horst Kloss': 35, 'Howard Snyder': 36, 'Isabel de Castro': 37, 'Jaime Yorres': 38, 'Janete Limeira': 39, 'Janine Labrune': 40, 'Jean Fresniere': 41, 'John Steel': 42, 'Jonas Bergulfsen': 43, 'Jose Pavarotti': 44, 'Jose Pedro Freyre': 45, 'Jytte Petersen': 46, 'Karin Josephs': 47, 'Karl Jablonski': 48, 'Laurence Lebihan': 49, 'Lino Rodriguez': 50, 'Liu Wong': 51, 'Liz Nixon': 52, 'Lucia Carvalho': 53, 'Manuel Pereira': 54, 'Maria Anders': 55, 'Maria Larsson': 56, 'Marie Bertrand': 57, 'Mario Pontes': 58, 'Martin Sommer': 59, 'Martine Rance': 60, 'Mary Saveley': 61, 'Matti Karttunen': 62, 'Maurizio Moroni': 63, 'Michael Holz': 64, 'Miguel Angel Paolino': 65, 'Palle Ibsen': 66, 'Paolo Accorti': 67, 'Pascale Cartrain': 68, 'Patricia McKenna': 69, 'Patricio Simpson': 70, 'Paul Henriot': 71, 'Paula Parente': 72, 'Paula Wilson': 73, 'Pedro Afonso': 74, 'Peter Franken': 75, 'Philip Cramer': 76, 'Pirkko Koskitalo': 77, 'Renate Messner': 78, 'Rene Phillips': 79, 'Rita Muller': 80, 'Roland Mendel': 81, 'Sergio Gutierrez': 82, 'Simon Crowther': 83, 'Sven Ottlieb': 84, 'Thomas Hardy': 85, 'Victoria Ashworth': 86, 'Yang Wang': 87, 'Yoshi Latimer': 88, 'Yoshi Tannamuri': 89, 'Yvonne Moncada': 90, 'Zbyszek Piestrzeniewicz': 91}

In [15]:
ProductCategory_rdd = (rdd_df.flatMap(lambda line: [(x, y) for x, y in zip(line[6].split(';'), line[7].split(';'))]) \
           .distinct() \
           .sortBy(lambda x: (x[0], x[1])) \
           .zipWithIndex() \
           .map(lambda x: (int(x[1] + 1), x[0][0], x[0][1])) \
)

# Convert RDD to DataFrame
productcategory_df = ProductCategory_rdd.toDF(["ProductCategoryID", "ProductCategory", "ProductCategoryDescription"])

In [16]:
productcategory_df.show()

+-----------------+---------------+--------------------------+
|ProductCategoryID|ProductCategory|ProductCategoryDescription|
+-----------------+---------------+--------------------------+
|                1|      Beverages|      Soft drinks, coff...|
|                2|     Condiments|      Sweet and savory ...|
|                3|    Confections|      Desserts, candies...|
|                4| Dairy Products|                   Cheeses|
|                5| Grains/Cereals|      Breads, crackers,...|
|                6|   Meat/Poultry|            Prepared meats|
|                7|        Produce|      Dried fruit and b...|
|                8|        Seafood|          Seaweed and fish|
+-----------------+---------------+--------------------------+

In [17]:
pc_dict = productcategory_df.select('ProductCategory', 'ProductCategoryID').rdd.collectAsMap()
pc_dict

{'Beverages': 1, 'Condiments': 2, 'Confections': 3, 'Dairy Products': 4, 'Grains/Cereals': 5, 'Meat/Poultry': 6, 'Produce': 7, 'Seafood': 8}

In [18]:
#Product Dataframe
Product_rdd=(
rdd_df.flatMap(lambda line:[(x,y,z) for x,y,z in zip(line[5].split(';'),line[8].split(';'),line[6].split(';'))])\
.distinct()\
.sortBy(lambda x: x[0])\
.zipWithIndex()\
.map(lambda x:(int(x[1]+1),x[0][0],float(x[0][1]),int(pc_dict.get(x[0][2],None))))
)
product_df = Product_rdd.toDF(["ProductID","ProductName", "ProductUnitPrice", "ProductCategoryID"])

In [19]:
product_df.show(100)

+---------+--------------------+----------------+-----------------+
|ProductID|         ProductName|ProductUnitPrice|ProductCategoryID|
+---------+--------------------+----------------+-----------------+
|        1|        Alice Mutton|            39.0|                6|
|        2|       Aniseed Syrup|            10.0|                2|
|        3|    Boston Crab Meat|            18.4|                8|
|        4|   Camembert Pierrot|            34.0|                4|
|        5|    Carnarvon Tigers|            62.5|                8|
|        6|                Chai|            18.0|                1|
|        7|               Chang|            19.0|                1|
|        8|    Chartreuse verte|            18.0|                1|
|        9|Chef Anton's Caju...|            22.0|                2|
|       10|Chef Anton's Gumb...|           21.35|                2|
|       11|           Chocolade|           12.75|                3|
|       12|       Cote de Blaye|           263.5|                1|
|       13|Escargots de Bour...|           13.25|                8|
|       14|            Filo Mix|             7.0|                5|
|       15|         Flotemysost|            21.5|                4|
|       16|             Geitost|             2.5|                4|
|       17|        Genen Shouyu|            15.5|                2|
|       18|Gnocchi di nonna ...|            38.0|                5|
|       19|   Gorgonzola Telino|            12.5|                4|
|       20|Grandma's Boysenb...|            25.0|                2|
|       21|          Gravad lax|            26.0|                8|
|       22|  Guarana Fantastica|             4.5|                1|
|       23|    Gudbrandsdalsost|            36.0|                4|
|       24|        Gula Malacca|           19.45|                2|
|       25| Gumbar Gummibarchen|           31.23|                3|
|       26| Gustaf's Knackebrod|            21.0|                5|
|       27|               Ikura|            31.0|                8|
|       28|         Inlagd Sill|            19.0|                8|
|       29|         Ipoh Coffee|            46.0|                1|
|       30|Jack's New Englan...|            9.65|                8|
|       31|               Konbu|             6.0|                8|
|       32|        Lakkalikoori|            18.0|                1|
|       33|Laughing Lumberja...|            14.0|                1|
|       34|       Longlife Tofu|            10.0|                7|
|       35|Louisiana Fiery H...|           21.05|                2|
|       36|Louisiana Hot Spi...|            17.0|                2|
|       37|Manjimup Dried Ap...|            53.0|                7|
|       38|  Mascarpone Fabioli|            32.0|                4|
|       39|            Maxilaku|            20.0|                3|
|       40|     Mishi Kobe Niku|            97.0|                6|
|       41|Mozzarella di Gio...|            34.8|                4|
|       42|Nord-Ost Matjeshe...|           25.89|                8|
|       43|Northwoods Cranbe...|            40.0|                2|
|       44|NuNuCa Nu-Nougat-...|            14.0|                3|
|       45|Original Frankfur...|            13.0|                2|
|       46|       Outback Lager|            15.0|                1|
|       47|        Pate chinois|            24.0|                6|
|       48|             Pavlova|           17.45|                3|
|       49|       Perth Pasties|            32.8|                6|
|       50|      Queso Cabrales|            21.0|                4|
|       51|Queso Manchego La...|            38.0|                4|
|       52|Raclette Courdavault|            55.0|                4|
|       53|      Ravioli Angelo|            19.5|                5|
|       54|Rhonbrau Klosterbier|            7.75|                1|
|       55|          Rod Kaviar|            15.0|                8|
|       56|         Rogede sild|             9.5|                8|
|       57|   Rossle Sauerkraut|            45.6|                7|
|       58|       Sasquatch Ale|            14.0|                1|
|       59|  Schoggi Schokolade|            43.9|                3|
|       60| Scottish Longbreads|            12.5|                3|
|       61|Singaporean Hokki...|            14.0|                5|
|       62|Sir Rodney's Marm...|            81.0|                3|
|       63| Sir Rodney's Scones|            10.0|                3|
|       64|      Sirop d'erable|            28.5|                2|
|       65|           Spegesild|            12.0|                8|
|       66|      Steeleye Stout|            18.0|                1|
|       67|      Tarte au sucre|            49.3|                3|
|       68|Teatime Chocolate...|             9.2|                3|
|       69|Thuringer Rostbra...|          123.79|                6|
|       70|                Tofu|           23.25|                7|
|       71|           Tourtiere|            7.45|                6|
|       72|            Tunnbrod|             9.0|                5|
|       73|Uncle Bob's Organ...|            30.0|                7|
|       74|    Valkoinen suklaa|           16.25|                3|
|       75|        Vegie-spread|            43.9|                2|
|       76|Wimmers gute Semm...|           33.25|                5|
|       77|       Zaanse koeken|             9.5|                3|
+---------+--------------------+----------------+-----------------+

In [20]:
p_dict = product_df.select('ProductName', 'ProductID').rdd.collectAsMap()
p_dict

{'Alice Mutton': 1, 'Aniseed Syrup': 2, 'Boston Crab Meat': 3, 'Camembert Pierrot': 4, 'Carnarvon Tigers': 5, 'Chai': 6, 'Chang': 7, 'Chartreuse verte': 8, "Chef Anton's Cajun Seasoning": 9, "Chef Anton's Gumbo Mix": 10, 'Chocolade': 11, 'Cote de Blaye': 12, 'Escargots de Bourgogne': 13, 'Filo Mix': 14, 'Flotemysost': 15, 'Geitost': 16, 'Genen Shouyu': 17, 'Gnocchi di nonna Alice': 18, 'Gorgonzola Telino': 19, "Grandma's Boysenberry Spread": 20, 'Gravad lax': 21, 'Guarana Fantastica': 22, 'Gudbrandsdalsost': 23, 'Gula Malacca': 24, 'Gumbar Gummibarchen': 25, "Gustaf's Knackebrod": 26, 'Ikura': 27, 'Inlagd Sill': 28, 'Ipoh Coffee': 29, "Jack's New England Clam Chowder": 30, 'Konbu': 31, 'Lakkalikoori': 32, 'Laughing Lumberjack Lager': 33, 'Longlife Tofu': 34, 'Louisiana Fiery Hot Pepper Sauce': 35, 'Louisiana Hot Spiced Okra': 36, 'Manjimup Dried Apples': 37, 'Mascarpone Fabioli': 38, 'Maxilaku': 39, 'Mishi Kobe Niku': 40, 'Mozzarella di Giovanni': 41, 'Nord-Ost Matjeshering': 42, 'Northwoods Cranberry Sauce': 43, 'NuNuCa Nu-Nougat-Creme': 44, 'Original Frankfurter grune Soe': 45, 'Outback Lager': 46, 'Pate chinois': 47, 'Pavlova': 48, 'Perth Pasties': 49, 'Queso Cabrales': 50, 'Queso Manchego La Pastora': 51, 'Raclette Courdavault': 52, 'Ravioli Angelo': 53, 'Rhonbrau Klosterbier': 54, 'Rod Kaviar': 55, 'Rogede sild': 56, 'Rossle Sauerkraut': 57, 'Sasquatch Ale': 58, 'Schoggi Schokolade': 59, 'Scottish Longbreads': 60, 'Singaporean Hokkien Fried Mee': 61, "Sir Rodney's Marmalade": 62, "Sir Rodney's Scones": 63, "Sirop d'erable": 64, 'Spegesild': 65, 'Steeleye Stout': 66, 'Tarte au sucre': 67, 'Teatime Chocolate Biscuits': 68, 'Thuringer Rostbratwurst': 69, 'Tofu': 70, 'Tourtiere': 71, 'Tunnbrod': 72, "Uncle Bob's Organic Dried Pears": 73, 'Valkoinen suklaa': 74, 'Vegie-spread': 75, 'Wimmers gute Semmelknodel': 76, 'Zaanse koeken': 77}

In [21]:
import datetime

orders_rdd=(
rdd_df.flatMap(lambda line:[(line[0],x,y,z) for x,y,z in zip([p_dict.get(i) for i in line[5].split(';')],[datetime.datetime.strptime(j, "%Y%m%d").strftime("%Y-%m-%d") for j in line[10].split(';')],line[9].split(';'))])\
    .sortBy(lambda x: x[0])\
    .zipWithIndex()\
    .map(lambda x:(x[1]+1,customer_dict.get(x[0][0]),x[0][1],x[0][2],x[0][3]))
)

In [22]:
orderdetail_df = orders_rdd.toDF(["OrderID","CustomerID","ProductID", "OrderDate", "QuantityOrdered"])
orderdetail_df.show()

+-------+----------+---------+----------+---------------+
|OrderID|CustomerID|ProductID| OrderDate|QuantityOrdered|
+-------+----------+---------+----------+---------------+
|      1|         1|       68|2012-08-14|              1|
|      2|         1|       22|2012-08-14|              6|
|      3|         1|       66|2012-08-14|              4|
|      4|         1|       42|2012-08-15|              6|
|      5|         1|       53|2012-08-15|              2|
|      6|         1|       42|2012-09-16|             10|
|      7|         1|       49|2012-09-16|             10|
|      8|         1|       71|2012-09-16|              5|
|      9|         1|       42|2014-03-02|              1|
|     10|         1|        4|2014-03-02|             10|
|     11|         1|       72|2014-04-09|             10|
|     12|         1|       61|2014-04-09|              4|
|     13|         1|       56|2014-04-09|             20|
|     14|         1|       60|2014-04-09|              2|
|     15|         1|       15|2014-11-07|             49|
|     16|         1|       36|2014-11-07|             28|
|     17|         1|       11|2014-11-07|             33|
|     18|         1|        5|2014-11-07|              4|
|     19|         1|       43|2014-11-07|             20|
|     20|         1|       21|2014-11-07|              1|
+-------+----------+---------+----------+---------------+
only showing top 20 rows

In [23]:
orderdetail_df.count()

621806

#### Example: Write the data in the DynamicFrame to a location in Amazon S3 and a table for it in the AWS Glue Data Catalog

In [24]:
dfs=[region_df,country_df,customer_df,productcategory_df,product_df,orderdetail_df]

In [28]:
dfs[0].show()

+--------+---------------+
|RegionID|         Region|
+--------+---------------+
|       1|  British Isles|
|       2|Central America|
|       3| Eastern Europe|
|       4|  North America|
|       5|Northern Europe|
|       6|    Scandinavia|
|       7|  South America|
|       8|Southern Europe|
|       9| Western Europe|
+--------+---------------+

In [25]:
dfs[0].columns[0].rstrip("ID").lower()

'region'

In [32]:
import os
from awsglue.dynamicframe import DynamicFrame
for i in dfs:
    table_name = "{}_table".format(i.columns[0].rstrip("ID").lower())
    file_path = os.path.join("s3://sales-data-parquet-ss/sales_db_parquet/", "{}.parquet".format(table_name))
    i=DynamicFrame.fromDF(i, glueContext, "convert")
    # Assuming glueContext is properly initialized
    s3output = glueContext.write_dynamic_frame.from_options(
        frame=i,
        connection_type="s3",
        connection_options={"path": file_path},
        format="glueparquet",
        transformation_ctx="s3output"
    )

In [34]:
import os
for i in dfs:
    table_name = "{}_table".format(i.columns[0].rstrip("ID").lower())
    file_path = os.path.join("s3://sales-data-parquet-ss/sales_db_parquet/", "{}.parquet".format(table_name))
    i=DynamicFrame.fromDF(i, glueContext, "convert")
    s3output = glueContext.getSink(
      path=file_path,
      connection_type="s3",
      updateBehavior="UPDATE_IN_DATABASE",
      partitionKeys=[],
      compression="snappy",
      enableUpdateCatalog=True,
      transformation_ctx="s3output",
    )
    s3output.setCatalogInfo(
      catalogDatabase="sales_parquet_db", catalogTableName=table_name
    )
    s3output.setFormat("glueparquet")
    s3output.writeFrame(i)

<awsglue.dynamicframe.DynamicFrame object at 0x7fbbcb025270>
<awsglue.dynamicframe.DynamicFrame object at 0x7fbbcb025390>
<awsglue.dynamicframe.DynamicFrame object at 0x7fbbcb025570>
<awsglue.dynamicframe.DynamicFrame object at 0x7fbbdb89fe20>
<awsglue.dynamicframe.DynamicFrame object at 0x7fbbcb0401c0>
<awsglue.dynamicframe.DynamicFrame object at 0x7fbbcb040f70>